.tituloex {
  color: #ffffff;
  width: 100%;
  margin-top: 5%;
  font-family: Inter;
  font-size: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.nomeex {
  color: #ffffff;
  width: 357px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.data {
  color: blue;
}

.textexp {
  width: 36%;
  height: 30%;
}

.about {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.conteudo {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: space-evenly;
}

.profile-containerex {
  width: 400px;
  height: 500px;
  overflow: hidden;
}

.profile-pictureex {
  width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
  height: auto; /* Ajusta automaticamente a altura mantendo a proporção original */
}

.container{
  margin-left:10px
}
