/* Form.css */

.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
}
.erro {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}


.inputclass {
  margin-bottom: 25px;
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.titulo-contactme {
  color: #ffffff;
  width: 100%;
  margin-top: 5%;
  font-family: Inter;
  font-size: 26px;
  letter-spacing: 0em;
  text-align: center;
}

label {
  display: none;
}

.input-container {
  position: relative;
  margin-bottom: 15px; /* Espaçamento entre os inputs */
}

label {
  color: white;
}

.buttonenv {
  width: 165px;
  height: 41px;
  padding: 0 12px;
  border-radius: 8px;
  background-color: #0b4dd2 !important; /* Definir a cor de fundo como azul */
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 146px;
  font-weight: normal;
}

.buttonenvlogin {
  height: 41px;
  padding: 0 12px;
  border-radius: 8px;
  background-color: #0b4dd2 !important; /* Definir a cor de fundo como azul */
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.buttonenvregister{
  height: 41px;
  padding: 0 12px;
  border-radius: 8px;
  background-color: #0b4dd2 !important; /* Definir a cor de fundo como azul */
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  margin-top:10px
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  font-weight: normal;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: transparent; /* Fundo transparente */
  color: white; /* Cor do texto */
}


textarea {
  height: 150px;
  color: white;
  font-size: 14px; /* Cor do placeholder */
}

textarea::placeholder {
  font-size: 16px;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3 !important;
}

.fim {
  display: flex;
}

.contactme {
  margin-top: 70px;
}

.mentext {
  margin-left: 8px;
}

.textfim {
  color: white;
  margin-left: -1px;
}
.iconerede {
  margin-left: 500px;
  color: white;
}

.linksocial {
  color: white;
  font-size: 16px;
  margin-left: 5px;
  font-weight: normal;
}

.redesocial {
  display: flex;
  margin-bottom: 15px;
}

/* Ajustar estilos para dispositivos móveis */
@media (max-width: 600px) {
  .form {
    padding: 10px;
  }

  input[type="email"],
  input[type="text"],
  textarea {
    margin-bottom: 100px;
  }
}
