section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
}

.logo {
  width: 20vh;
}

.navb {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navegacao {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 10%;
  width: 60%;
}

.geral {
  background-color: rgba(3, 3, 3, 0.939);
}

.icons {
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  width: 100%;
}

.links {
  width: 15%;
  margin-left: 5%;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 53px;
  min-height: 70px;
  width: 100%;
  background-color: #000000bb;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  color: white;
}

.custom-button {
  margin-top: 15px;
  margin-left: 65%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 41px; /* Altura atualizada */
  border-radius: 8px; /* Pontas arredondadas */
  background-color: #0d45b7;
  color: white; /* Cor do texto branco */
  border: none; /* Remove a borda do botão */
  cursor: pointer; /* Altera o cursor para indicar que o botão é clicável */
  display: flex; /* Permite centralizar verticalmente */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center;
  position: relative; /* Adiciona posição relativa */
}

.btnlink {
  background-color: transparent !important; /* Botão transparente */
  color: white; /* Cor do texto */
  border: none; /* Remove a borda */
  cursor: pointer; /* Altera o cursor */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Fonte */
  font-size: 16px; /* Tamanho da fonte */
  text-decoration: none; /* Remove a decoração de texto padrão */
  transition: background-color 0.3s; /* Adiciona transição suave na mudança de cor de fundo */
}

.btnlink:hover {
  color: #0a51a3 !important;
  background-color: transparent !important; /* Cor de fundo cinza no hover */
}

.paginas {
  margin-top: 10%;
}

.custom-button:hover {
  background-color: #0a51a3; /* Altera a cor de fundo no hover */
}

.botaonav {
  width: 14%;
  min-width: 14%;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 10%;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  color: #2982e7; /* Cor ao passar o mouse */
  text-decoration: underline; /* Sublinhado ao passar o mouse */
}

.links a:focus {
  color: gray; /* Cor ao focar */
  outline: none; /* Remove a borda de foco padrão */
}

.links {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links a:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; /* Altura do sublinhado ao focar */
  background-color: rgb(145, 27, 27); /* Cor do sublinhado ao focar */
  margin-top: 3px; /* Espaçamento entre o link e o sublinhado ao focar */
}
